# TU Delft - EPA1333 - Computer Engineering for Scientific Computing - 2017

## Final assignment

Luca de Laat 4135040

Pawel Marciniak 4633482

### WORK CELL - to be removed before submission
"analyse which countries are most effecient at reducing CO2 emission/deforestation/overfishing... while staying competitive in the global market. The idea is to find which countries have the most effective policy for fighting climate change at the lowest cost.we'd need to find some kind of index or define one ourselves."

In [5]:
import pandas as pd
import requests
import xml.etree.ElementTree as etree
from pandas_datareader import wb

In [7]:
#indicators we might want to use
#CO2 emission
#...
#...
wb.search('EN.ATM.CO2E') #CO2 emission
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['all'], start=1988, end=2017)

In [8]:
dat

                             NY.GDP.PCAP.KD
country                year
Arab World             2016     6440.036495
                       2015     6366.423081
                       2014     6282.349489
                       2013     6238.020811
                       2012     6153.876337
                       2011     5986.728791
                       2010     5916.329624
                       2009     5782.422470
                       2008     5898.516152
                       2007     5711.663247
                       2006     5594.898519
                       2005     5378.379169
                       2004     5204.440906
                       2003     4865.943260
                       2002     4720.194255
                       2001     4792.764385
                       2000     4816.656627
                       1999     4667.629114
                       1998     4681.212044
                       1997     4548.617630
                       1996     4461.739824
                       1995     4367.830451
                       1994     4381.165138
                       1993     4353.103444
                       1992     4330.230967
                       1991     4207.396344
                       1990     4256.387015
                       1989     3899.934106
                       1988     3926.570625
Caribbean small states 2016     8613.830353
...                                     ...
Zambia                 1988     1120.509507
Zimbabwe               2016      908.829980
                       2015      923.899697
                       2014      932.548383
                       2013      928.984217
                       2012      903.091388
                       2011      812.822513
                       2010      713.603506
                       2009      630.463205
                       2008      590.738407
                       2007      729.818727
                       2006      769.361427
                       2005      808.294356
                       2004      868.156437
                       2003      932.160668
                       2002     1135.000333
                       2001     1259.338084
                       2000     1256.083710
                       1999     1312.660679
                       1998     1342.542796
                       1997     1325.316942
                       1996     1312.203547
                       1995     1209.801241
                       1994     1229.992312
                       1993     1147.808909
                       1992     1159.564523
                       1991     1303.732933
                       1990     1266.927804
                       1989     1217.723007
                       1988     1193.478318

[7656 rows x 1 columns]